PROJECT_NAME="Tramplin API"
ENVIRONMENT=dev
DEBUG=True  # Swagger отключается если False!
API_V1_STR=/api/v1

# Безопасность
SECRET_KEY=hash_2026_super_secure_928374650123456789
ALGORITHM= # Любой HS256, HS384, HS512, RS256, RS384, RS512, ES25, ES384, ES512
ACCESS_TOKEN_EXPIRE_MINUTES=0
REFRESH_TOKEN_EXPIRE_MINUTES=0

# PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_USER=tramplin_admin
POSTGRES_PASSWORD=secure_pass_2026_top_secret
POSTGRES_DB=tramplin_db

# Redis
REDIS_URL=redis://localhost:6379/0

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# CORS
CORS_ORIGINS=http://localhost:3000,https://tramplin.edu
